.element__like-counter {
    color: black;
    width: 10px;
    height: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 27px;
}