.popup__container {
  padding: 0;
  width: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

@media all and (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}
