.element__delete-button {
    padding: 0;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/deleteButton.svg);
    background-size: cover;
    background-position: center;
    border: none;
    outline: none;
    background-color: black;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 18px;
    right: 15px;
}
.element__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}