.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background: rgba(0,0,0,0.5);
}
.popup > .popup__container {
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.popup:hover > .popup__container {
    visibility: visible;
  opacity: 1;
}